<!DOCTYPE html>
<html ng-app=myApp>
  <head>
    <title></title>
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body ng-controller=notes>
    <h1></h1>
    <p>Welcome to 1clickShoppingCart</p>
  </body>

  <!--Angular import -->
  <script   src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
  <script   src="/js/controller.js"></script>

</html>
