<!DOCTYPE html>
<html ng-app=myApp ng-cloak>
  <head>
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0,  minimum-scale=1.0">  

    <!-- bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- animate.css -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css" crossorigin="anonymous">

		<link rel="stylesheet" type="text/css" href="/css/style.css" />
    <link rel="stylesheet" type="text/css" href="/css/btn.css" />
    <link rel="stylesheet" type="text/css" href="/css/icon.css" />
<style>
.success {
color: #46D964;
}

.danger {
color: #FFCC00;
}

.thumbnail {
  height: 500px;
  background: #FE7C73;
  border: 1px solid #FE7C73;
}
.modal-content {
  background-color: #FE5F55;
  border: 1px solid #FE5F55;
}
.modal-header {
  border-bottom: 1px solid #E63462;
}
.modal-footer {
  border-top: 1px solid #E63462;
}
</style>
  </head>
  <body class=bg ng-controller=index>
    <div class=container>
      <center>
        <br><br>
        <h2>Welcome to Food Bites!</h2>
        <h3 class="{{alertClass}}">
          <div  ng-if="alert">{{alert}}</div>
          <div  ng-if="!alert && !loading"> &nbsp;</div>
          <img src='/img/loading.gif' ng-if="loading">
        </h3>
      </center>
      <div class=row>
        <div class="col-md-4">
          <center>
            <span class="search">
              <input class="searchInput" type="text" ng-model=search ng-style=searchBg ng-keydown="($event.which === 13 || $event.which === 9) && getRecipes()"/>
              <label class="searchLabel">
                <span class="searchContent">Search Recipes</span>
              </label>
            </span>
          </center>
        </div>
        <div class=col-md-4>
          <center>
            <button class="lbtn icon-arrow-right" id=search ng-click="getRecipes()">Search</button> 
          </center>
        </div>
        <div class=col-md-4>
          <center>
            <button class="lbtn icon-trash" ng-click="clearSearch()">Clear</button> 
          </center>
        </div>
      </div>
      <center>
        <button class="lbtn icon-list" data-toggle=modal data-target=#list ng-click="getList()">View My List</button> 
      </center>
      <center>
        <h2 ng-if="!recipes.length && !loading">
          {{ message }} 
        </h2>
      </center>
      <div class=row>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3" ng-repeat="recipe in recipes" ng-if="recipe.image">
          <div class="thumbnail animated fadeInUp" style="-webkit-animation-delay: {{($index*1.5)/10}}s;" ng-model=thumbHeight>
            <a href="{{recipe.link }}">
              <img src="{{ recipe.image }}" alt="{{ recipe.title }}">
            </a>
            <div class="caption">
              <center>
                <a href="{{recipe.link }}">
                  <h4>{{ recipe.title }}</h4>
                </a>
              </center>
              <div class=row>
                <div class=col-md-12>
                  <center>
                    <button class="sbtn icon-link" ng-click="recipeLink(recipe.link)">Recipe</button> 
                  </center>
                </div>
                <div class=col-md-12>
                  <div class="icon-wrap icon-effect">
                    <a href="#" class="click icon icon-plus" ng-click="addToList(recipe)">Test</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      </div>
  </body>
  
  <div class="modal fade" id="list" tabindex="-1" role="dialog" aria-labelledby="listLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h3 class="modal-title" id="listLabel">Shopping List</h3>
        </div>
        <div class="modal-body">
          <h2 ng-if="!list.length">You have nothing in your shopping list!</h2>
          <div ng-repeat="recipe in list">
            <h4>{{recipe.title}}</h4>
            <h5 ng-repeat="ing in recipe.ingredients">
            {{ing}}
            </h5>
          </div>
        </div>
        <div class="modal-footer">
          <div class=row>
           <!-- <div class="col-md-2">
              <div class="icon-wrap icon-effect">
                <a href="#" class="icon icon-google">Google Keep</a>
              </div>
           </div>-->
            <div class="col-md-offset-3 col-md-5">
                <button class="sbtn icon-trash" data-dismiss="modal" ng-click=clearList()>Clear list</button> 
            </div>
            <div class=col-md-3>
                <button class="sbtn icon-close" data-dismiss="modal">Dismiss</button> 
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
  <!-- jQuery -->
  <script   src="https://code.jquery.com/jquery-3.1.0.min.js"   integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s="   crossorigin="anonymous"></script>

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>    <!-- Script to Activate the Carousel -->

  <!--Angular import -->
  <script   src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
  <script   src="/js/controller.js"></script>
</html>

