<!DOCTYPE html>
<html ng-app=myApp ng-cloak>
  <head>
    <title>Food Bites</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0,  minimum-scale=1.0">  

    <!-- bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- animate.css -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css" crossorigin="anonymous">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous">

		<link rel="stylesheet" type="text/css" href="/css/style.css" />
    <link rel="stylesheet" type="text/css" href="/css/btn.css" />
    <link rel="stylesheet" type="text/css" href="/css/icon.css" />
<style>
.green {
  color: #67DF80;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #fe5f55;
}
.thin {
  font-weight: 300;
}
.success {
color: #46D964;
}

.danger {
color: #FFCC00;
}

.thumbnail {
  height: 575px;
  background: #FE7C73;
  border: 1px solid #FE7C73;
}
.modal-content {
  background-color: #FE5F55;
  border: 1px solid #FE5F55;
}
.modal-header {
  border-bottom: 1px solid #E63462;
}
.modal-footer {
  border-top: 1px solid #E63462;
}
</style>
  </head>
  <body class=bg ng-controller=index>
    <div class=container>
      <center>
        <br><br>
        <h1>Welcome to Food Bites!</h1>
        <h3 class="{{alertClass}}">
          <div  ng-if="alert">{{alert}}</div>
          <div  ng-if="!alert && !loading"> &nbsp;</div>
          <img src='/img/loading.gif' ng-if="loading">
        </h3>
      </center>
      <div class=row>
        <div class="col-md-4">
          <center>
            <span class="search">
              <input class="searchInput" type="text" ng-model=search ng-style=searchBg ng-keydown="($event.which === 13 || $event.which === 9) && getRecipes()"/>
              <label class="searchLabel">
                <span class="searchContent">Search Recipes</span>
              </label>
            </span>
          </center>
        </div>
        <div class=col-md-4>
          <center>
            <button class="lbtn icon-arrow-right" id=search ng-click="getRecipes()">Search</button> 
          </center>
        </div>
        <div class=col-md-4>
          <center>
            <button class="lbtn icon-trash" ng-click="clearSearch()">Clear</button> 
          </center>
        </div>
      </div>
      <center>
        <button class="lbtn icon-list" data-toggle=modal data-target=#list ng-click="getList()">View My List</button> 
      </center>
      <section ng-if="!recipes.length && !loading">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">
                      So, what is Food Bites?
                    </h2>
                </div>
            </div>
            <br>
            <br>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4 text-center">
                    <div class="service-box">
                        <i class="fa fa-5x fa-cutlery icon-color sr-icons"></i>
                        <h3>Convenience</h3>
                        <h4 class=thin>After searching for a recipe on Food Bites and finding one that you like, you click the 'Add To List' on the recipe of your choice and it's automatically added to your shopping list. The shopping list features a simple striking method to mark off ingredients while shopping, so you don't lose track of what you have.</h4>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 text-center">
                    <div class="service-box">
                        <i class="fa fa-5x fa-usd icon-color sr-icons"></i>
                        <h3>Priceless</h3>
                        <h4 class=thin>We wanted Food Bites to be easy on your wallet, so we've utilized popular  websites that list recipe ingredients with the ingredients cost.  </h4>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 text-center">
                    <div class="service-box">
                        <i class="fa fa-5x fa-mobile icon-color sr-icons"></i>
                        <h3>Mobile Friendly</h3>
                        <h4 class=thin>Since your shopping list needs to travel with you, we felt a mobile experience that was as pleasurable as the online site was essential to the design of Food Bites. Thus, we've made all of the features easily accessible through the web on any mobile phone.</h4>
                    </div>
                </div>
            </div>
        </div>
    </section>

      <div class=row>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3" ng-repeat="recipe in recipes" ng-if="recipe.image">
          <div class="thumbnail animated fadeInUp" style="-webkit-animation-delay: {{($index*1.5)/10}}s;" ng-model=thumbHeight>
            <a href="{{recipe.link }}" target="_blank">
              <img src="{{ recipe.image }}" alt="{{ recipe.title }}">
            </a>
            <div class="caption">
              <center>
                <a href="{{recipe.link }}" target="_blank">
                  <h4><b>{{ recipe.title }}<b></h4>
                </a>
              </center>
              <h4>
                Total Price: <i>{{recipe.totalPrice | currency}}</i>
                <br>
                <br ng-if="!recipe.pricePerServing">
                <span ng-if="recipe.pricePerServing">Price per Serving: <i>{{recipe.pricePerServing | currency}}</i></span>
                <br>
                <span ng-if="recipe.pricePerServing">Number of Servings: <i>{{recipe.totalServings}}</i></span>
              </h4>
              <div class=row>
                <div class=col-md-12>
                  <center>
                    <button class="sbtn icon-link" ng-click="recipeLink(recipe.link)">Recipe</button> 
                  </center>
                </div>
                <div class=col-md-12>
                  <center>
                    <button class="sbtn icon-plus" ng-click="addToList(recipe)">Add To List</button> 
                  </center>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <center>
      <br>
      <br>
      <br class="visible-lg visible-md">
      <br class="visible-lg visible-md">
      <br class="visible-lg visible-md">
      <h5 class=container>
        Have questions? Found a bug? Please feel free to email me at <a href="mailto:ward.austin28@gmail.com" style="color: #78E38E;">ward.austin28@gmail.com</a> with the subject as 'Food Bites', followed by your question/concern. Thanks!
      </h5>
    </center>
  </body>
  
  <div class="modal fade" id="list" tabindex="-1" role="dialog" aria-labelledby="listLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h2 class="modal-title" id="listLabel">Shopping List</h2>
        </div>
        <div class="modal-body">
          <h3 ng-if="!list.length">You have nothing in your shopping list!</h3>
          <div ng-repeat="recipe in list">
            <div class=row>
              <div class="col-xs-8 cols-m-8 col-md-9 col-lg-9 ">
                <h3>
                  <strike ng-if=recipe.hasStrike>{{recipe.title}}</strike>
                  <div ng-if=!recipe.hasStrike>{{recipe.title}}</div>
                </h3>
              </div>
              <div class="col-xs-2 col-sm-2 col-md-1 col-lg-1 ">
                <br>
                <br class=visible-xs>
                  <a href=# class="btn btn-danger" ng-click=deleteRecipe($index)>
                    <b class="icon-close"></b>
                  </a>
              </div>
              <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 ">
                <br>
                <br class=visible-xs>
                <a href=# class="btn btn-{{recipe.hasStrikeColor}}" ng-click=mainStrike($index)>
                    <b class="icon-check" ng-if="recipe.hasStrike"></b>
                    <b class="icon-minus" ng-if="!recipe.hasStrike"></b>
                  </a>
              </div>
            </div>
            <h5 ng-repeat="ing in recipe.ingredients">
              <div class=row>
                <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 ">
                  <span class=green>
                    {{ing.price}} &emsp;
                  </span>
                  <strike ng-if="recipe.childHasStrike[$index]">{{ing.ingredient}}</strike>
                  <span ng-if="!recipe.childHasStrike[$index]">{{ing.ingredient}}</span>
                </div>
                <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 ">
                  <a href=# class="btn btn-{{recipe.childHasStrikeColor[$index]}}" ng-click="childStrike($parent.$index, $index)">
                    <b class="icon-check" ng-if="recipe.childHasStrike[$index]"></b>
                    <b class="icon-minus" ng-if="!recipe.childHasStrike[$index]"></b>
                  </a>
                </div>
              </div>
            </h5>
            <br>
          </div>
        </div>
        <div class="modal-footer">
          <div class=row>
           <!-- <div class="col-md-2">
              <div class="icon-wrap icon-effect">
                <a href="#" class="icon icon-google">Google Keep</a>
              </div>
           </div>-->
            <div class="col-md-offset-3 col-md-5">
                <button class="sbtn icon-trash" data-dismiss="modal" ng-click=clearList()>Clear list</button> 
            </div>
            <div class=col-md-3>
                <button class="sbtn icon-close" data-dismiss="modal">Dismiss</button> 
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- jQuery -->
  <script   src="https://code.jquery.com/jquery-3.1.0.min.js"   integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s="   crossorigin="anonymous"></script>

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>    <!-- Script to Activate the Carousel -->

  <!--Angular import -->
  <script   src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
  <script   src="/js/controller.js"></script>
</html>

