@font-face {
	font-family: 'FontAwesome';
	src: url('http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/fonts/fontawesome-webfont.woff') format('woff');
}
a:active {
  text-decoration: none;

}
a:active:hover {
  text-decoration: none;

}
a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

.icon-google:before {
  font-family: FontAwesome;
	content: "\f1a0";
}

.icon-close:before {
  font-family: FontAwesome;
	content: "\f00d";
}

.icon-list:before {
  font-family: FontAwesome;
	content: "\f0ca";
}

.icon-plus:before {
  font-family: FontAwesome;
	content: "\f055";
}

.icon-link:before {
  font-family: FontAwesome;
	content: "\f0c1";
}

.icon-trash:before {
  font-family: FontAwesome;
	content: "\f014";
}

.icon-arrow-right:before {
  font-family: FontAwesome;
	content: "\f0f5";
}

.icon-wrap {
	text-align: center;
	margin: 0 auto;
  padding-top: 5px;
}

.icon {
	display: inline-block;
	font-size: 0px;
	cursor: pointer;
	margin: 15px 30px;
	width: 45px;
	height: 45px;
	border-radius: 50%;
	text-align: center;
	position: relative;
	z-index: 1;
	color: #fff;
}

.icon:after {
	pointer-events: none;
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	content: '';
	-webkit-box-sizing: content-box; 
	-moz-box-sizing: content-box; 
	box-sizing: content-box;
}

.icon:before {
	font-family: 'FontAwesome';
	speak: none;
	font-size: 24px;
	line-height: 45px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	display: block;
	-webkit-font-smoothing: antialiased;
}

@-webkit-keyframes spinAround {
	from {
		-webkit-transform: rotate(0deg)
	}
	to {
		-webkit-transform: rotate(360deg);
	}
}
@-moz-keyframes spinAround {
	from {
		-moz-transform: rotate(0deg)
	}
	to {
		-moz-transform: rotate(360deg);
	}
}
@keyframes spinAround {
	from {
		transform: rotate(0deg)
	}
	to {
		transform: rotate(360deg);
	}
}

.icon-effect .icon {
	box-shadow: 0 0 0 4px rgba(255,255,255,1);
	-webkit-transition: background 0.2s, color 0.2s;
	-moz-transition: background 0.2s, color 0.2s;
	transition: background 0.2s, color 0.2s;
}

.icon-effect .icon:hover {
	background: rgba(255,255,255,1);
	color: #64bb5d;
}

.icon-effect .icon:hover:before {
	-webkit-animation: spinAround 2s linear infinite;
	-moz-animation: spinAround 2s linear infinite;
	animation: spinAround 2s linear infinite;
}
